html {
  height: 3205px;

  background: linear-gradient(180deg, #9486B0 0%, #594B75 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

img {
  max-width:100%;
}

/* generalized text classes */

.yellow {
  color: #FFD644;
}

.dark-purple {
  color: #453F53;
}

.light-purple {
  color: #BEB7CB;
}

.teal {
  color: #d9f3f9;
}

.big {
  font-size: 24px;
}

.indented {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-left: 2px solid #BEB7CB;
  
}

/* nav styling  */

.navbar-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 20px;
  padding-right: 30px;
}

.nav-link {
  color: #BEB7CB;
  margin: 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: #453F53;
}

/* home page styling */

.home-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}

.home-photo {
  width: 30%;
  height: 30%;
}

.portrait {
  border-radius: 60%;
}

