html {
  height: auto;
  background: linear-gradient(180deg, #9486B0 0%, #594B75 100%);
}

body {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

img {
  max-width:100%;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Roboto Mono', monospace;
  background-color: #BEB7CB;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #453F53;
  vertical-align: middle;
}

button:hover {
  background-color: #453F53;
  color: #BEB7CB;
  cursor: pointer;
}

input {
  color: #453F53;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  padding-left: 5px;
  border: none;
  height: 30px;
  margin: 5px;
}

textarea {
  margin: 5px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  height:200px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

/* generalized text classes */

.yellow {
  color: #FFD644;
}

.dark-purple {
  color: #453F53;
}

.light-purple {
  color: #BEB7CB;
}

.teal {
  color: #d9f3f9;
}

.big {
  font-size: 24px;
}

.indented {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: 2px solid #BEB7CB;
}

.indiv-indented {
  border-left: 2px solid #BEB7CB;
  padding-left: 20px;
}

.indented-no-line {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.icons {
  vertical-align: middle;
}

.icon > * {
  fill: #453F53;
  margin-left: 4px;
  margin-right: 4px;
}

.icon > *:hover {
  fill: #BEB7CB;
  border-radius: 5px;
}

.paragraph-link {
  text-decoration: underline;
}

/* nav styling  */

.navbar-parent {
  float: right;
}

.nav-large {
  margin: 5px;
  padding: 15px;
}

.navbar-home-container {
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 100;
  float: left;
}

.nav-link {
  color: #BEB7CB;
  margin: 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: #453F53;
  cursor: pointer;
}

.home-icon {
  font-size: 35px;
  margin-top: 0px;
}

/* home page styling */

.home-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  padding-bottom: 100px;
  margin: 10%;
  margin-top: 5%;
}

.home-photo {
  width: 40%;
  height: 40%;
  padding: 20px;
}

.portrait {
  border-radius: 50%;
}

/* about page styling  */

.about-container-top {
  margin: 40px;
  padding: 20px;
}

.about-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.about-parent {
  width: 40%;
}

.vertical-line {
  border-left: 2px solid #BEB7CB;

}

@media screen and (max-width: 800px) {
  .about-parent {
    width: 90%;
  }
}

/* projects page styling */

.project-parent {
  width: 50%;
}

.project-container-top {
  margin: 40px;
  padding: 20px;
}

.projects-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}

.proj-block {
  width: 40%;
  margin-left: 40px;
  margin-right: 40px;
}

.proj-link {
  color: #BEB7CB;
  margin: 10px;
  text-decoration: none;
}

.gh-button {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.gh-button:hover {
  background-color:#453F53;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .proj-block {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .about-container-top .project-container-top {
    margin: 20px;
  }
}

/* contact form styling */

.form-flex {
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  /* background-color: #BEB7CB; */
  width: 30%;
  display: flex; 
  flex-flow: column wrap;
  justify-content: center;
}

.message-box {
  padding: 20px;
  border-radius: 20px;
  height: 175px;
  width: 500px;
  margin-top: 52px;
  display: flex; 
  flex-flow: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .message-box {
    margin-top: 10px;
  }
}

.contact-container-top {
  margin: 40px;
  padding: 20px;
}

.top-form-flex {
  display: flex; 
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

input[type=submit] {
    padding:5px 15px; 
    margin-left: 25px;
    background: #BEB7CB;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}

input[type=submit]:hover {
  background: #453F53;
}

@media all and (max-width: 800px) {
  input[type=submit] {
    padding:5px 15px; 
    margin-left: 25px;
    background: #BEB7CB;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white;
}
}

@media all and (max-width: 800px) {
  input[type=submit]:hover {
    background: #453F53;
  }
}
